@tailwind base;
@tailwind components;
@tailwind utilities;

 :root {
    --color1 : #06141b;
    --color2 : #11212d;
    --color3 : #253745;
    --color4 : #4a5c6a;
    --color5 : #9ba8ab;
    --color6 : #ccd0cf;

}
/*
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */
 .color1 {
  background-color: var(--color1);
 }
 .color4 {
  background-color: var(--color4);
  color: var(--color1);
 }
 .color3 {
  background-color: var(--color2);
  color : var(--color6);
 }
.loadingText {
  color : var(--color5);
}